html, body, #react-root {
  height: 100%;
}

.app {
  height: 100%;

  &.loading {
    padding: 20px;
    color: #999;
  }

  .sidebar {
    position: fixed;
    box-sizing: border-box;
    overflow: hidden;
    top: 0;
    left: 0;
    margin: 0;
    padding: 10px;
    width: 320px;
    height: 100%;
    background-color: #f7f7f7;

    .common-simple-nav {
      position: absolute;
      z-index: 999;
      bottom: 0;
    }
  }

  .page-container {
    padding: 40px 40px 0 360px;
    max-width: 1500px;
  }
}