@import '../../styles/mixins.less';

.diagram-overview-chord-diagram {
  // svg { background-color: #eee; }
  .feature-group {
    stroke: @feature-color;
  }
  .actions-group { stroke: @action-color; }
  .components-group { stroke: @component-color; }
  .misc-group { stroke: @misc-color; }

  svg {
    transform: rotate(-180deg);
    .same-feature-dep {
      display: none;
    }
  }
}
